{% for post in postListItems %}
  <li class="heading {% if loop.first %}featured{% endif %}">
    <time datetime="{{ post.data.date }}">{{ post.data.date | dateFilter }}.</time>
    {% if post.data.publishedOn %}
      <span>
        Originally published on
        <a href="{{ post.data.url }}" target="_blank" rel="noopener noreferrer">{{ post.data.publishedOn }}</a>
      </span>
    {% endif %}
    <a href="{{ post.url }}">
      <h3>{{ post.data.title }}</h3>
      <p>{{ post.data.metaDesc }}</p>
    </a>
    {% if post.data.tags %}
      <ul class="tags-list" aria-describedby="tags-desc">
        {% for tag in post.data.tags %}
          <li>
            <a href="/tag/{{ tag | slug }}/">#{{ tag | replace(' ', '') | capitalize }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}