@use '../globals/fonts';
@use '../globals/animations';

@mixin tag($background, $text) {
  background-color: $background;
  padding: var(--xxxs) var(--xxs);
  border-radius: var(--m);
  @include fonts.uppercase-text(var(--xxxs), $text);
  transition: all .1s ease-in-out;

  &:hover {
    @include animations.background-gradient(linear-gradient(to right, #12c2e9, #c471ed, #f64f59));
  }
}

@mixin inline-code($background, $text) {
  background-color: $background;
  padding: .25rem .5rem;
  border-radius: .25rem;
  @include fonts.monospaced-text(var(--xxs), $text);
}