@use '../../globals/fonts';
@use '../../globals/animations';
@use '../../components/tags';

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  li {
    border-bottom: var(--border);
    border-right: var(--border);
    position: relative;

    &:last-child() {
      border-right: none;
    }

    a {
      display: block;

      &:hover {
        .text-container {
          button {
            @include animations.text-gradient(linear-gradient(to right, #12c2e9, #c471ed, #f64f59));
          }
        }
      }
    }

    .image-container {
      height: 760px;

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-container {
      padding: var(--xs);

      h3 {
        @include fonts.medium-text(var(--xs), var(--black));
        line-height: 1.4;
        margin-bottom: var(--m);

        span {
          display: block;
          color: var(--text-grey);
        }
      }
      
      p {
        @include fonts.light-text(var(--xs), var(--black));
        line-height: 2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }

      ul {
        margin: var(--s) 0;
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: var(--xs);
          margin-bottom: var(--xs);
          @include tags.tag(var(--background-grey), var(--black));
        }
      }

      button {
        padding: 0;
        background: transparent;
        border: none;
        @include fonts.uppercase-text(var(--xxs), var(--black));
        margin-top: var(--m);
        cursor: pointer;
      }
    }

    &:last-child {
      border-right: none;
    }
  }
}

// Large Desktop
@media screen and (max-width: 1980px) {
  .projects {
    li {
      .image-container {
        height: 540px;
      }
    }
  }
}

// Medium Desktop
@media screen and (max-width: 1440px) {
  .projects {
    li {
      .image-container {
        height: 420px;
      }
    }
  }
}

// iPad landscape
@media screen and (max-width: 1024px) {
  .projects {
    li {
      .image-container {
        height: 320px;
      }
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .projects {
    grid-template-columns: 1fr;

    li {
      border-right: none;

      .image-container {
        height: auto;
      }
      
      a {
        flex-direction: column;
      }
    }

  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .projects {
    li {
      .text-container {
        padding: var(--xxs);

        h3 {
          margin-bottom: var(--xxs);
        }
      }
    }
  }
}