@use '../config/fonts';

footer {
  ul {
    display: flex;

    li {
      flex: 1;
      border-right: var(--border);
      padding: var(--s) var(--m);
      display: flex;
      flex-wrap: wrap;

      &:last-child {
        border: none;
      }

      span {
        @include fonts.uppercase-text(var(--xxs), var(--black));
        margin-bottom: var(--m);
        flex: 100%;
      }

      ol {
        align-self: flex-end;

        li {
          border-right: none;
          padding: 0;

          a, button {
            @include fonts.light-text(var(--xs), var(--black));
            line-height: 1.6;
            padding: 0;
            transition: all .1s ease-in-out;
            position: relative;
            left: 0;

            &::after {
              margin-left: .1rem;
            }

            &:hover {
              left: .25rem;
            }
          }

          button {
            background: transparent;
            border: none;
            box-shadow: none;
            cursor: pointer;

            &::after {
              opacity: 0;
              transition: all .2s ease-in-out;
              content: 'Copied!';
              background-color: var(--grey);
              position: absolute;
              @include fonts.uppercase-text(var(--xxs), var(--black));
              left: 105%;
              top: .25rem;
              padding: .25rem .5rem;
              z-index: 1;
            }
          }

          .is-copied {
            &:after {
              opacity: 1;
            }
          }
        }
      }

      ol.social {
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 50%;
        }
      }
    }
  }

  p {
    border-top: var(--border);
    text-align: center;
    padding: var(--m);
    @include fonts.light-text(var(--xs), var(--black));

    a {
      color: inherit;
    }
  }
}

// Regular desktop computers
@media screen and (max-width: 1220px) {
  footer {
    ul {
      li {
        padding: var(--xs);
      }
    }

    p {
      padding: var(--xs);
    }
  }
}

// iPad portrait
@media screen and (max-width: 860px) {
  footer {
    ul {
      flex-wrap: wrap;

      li {
        flex: 40%;

        &:nth-child(2) {
          border-right: none;
        }

        &:last-child {
          border-top: var(--border);
        }
        
        ol {
          li {
            &:last-child {
              border-top: none;
            }
          }
        }
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  footer {
    ul {
      flex-direction: column;

      li {
        border-right: none;
        padding: var(--xxs);
        
        &:first-child {
          border-bottom: var(--border);
        }

        ol {
          li {
            &:first-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    p {
      padding: var(--xxs);
      text-align: left;
      line-height: 1.2;
    }
  }
}