@use '../../config/fonts';
@use '../../components/tags';

.post {
  .text {
    max-width: 650px;
    margin: var(--xl) auto;

    p, li {
      @include fonts.light-text(var(--xs), var(--black));
      line-height: 160%;
      margin-bottom: var(--xs);

      strong {
        @include fonts.medium-text(inherit, inherit);
      }

      code {
        @include tags.inline-code(var(--background-grey), var(--black));
        display: inline-block;
      }

      a {
        color: inherit;
        text-decoration: underline;
        display: inline;

        &::after {
          display: inline-block;
          margin-left: .25rem;
          margin-right: .25rem;
        }
      }

      em {
        font-style: italic;
      }
    }

    blockquote {
      padding: var(--xs);
      border-top: var(--border);
      border-bottom: var(--border);
      text-align: center;
      margin: var(--m) 0;

      p {
        @include fonts.medium-text(var(--xs), var(--black));
        margin-bottom: 0;
        line-height: 160%;
      }
    }

    ol {
      @include fonts.light-text(var(--xs), var(--black));
      line-height: 160%;
      counter-reset: customCounter;

      li {
        counter-increment: customCounter;

        &:before {
          content: counter(customCounter) ".";
          @include fonts.monospaced-text(var(--xxs), var(--text-grey));
          margin-right: var(--xxxs);
        }
      }
    }

    h3 {
      @include fonts.light-text(var(--m), var(--black));
      margin-top: var(--xl);
      margin-bottom: var(--s);
    }
    
    h4, h5, h6 {
      @include fonts.medium-text(var(--xs), var(--black));
      margin-top: var(--xl);
      margin-bottom: var(--s);
    }

    pre {
      background-color: var(--black);
      @include fonts.monospaced-text(var(--xxs), var(--white));
      padding: var(--xs);
      line-height: 160%;
      border-radius: .5rem;
      margin: var(--m) 0;
      white-space: pre-wrap;
      position: relative;

      &::after {
        color: var(--red);
        position: absolute;
        right: 1rem;
        top: .5rem;
      }
    }

    pre.language-html {
      &::after {
        content: 'HTML';
      }
    }

    pre.language-css {
      &::after {
        content: 'CSS';
      }
    }
    
    pre.language-js {
      &::after {
        content: 'JS';
      }
    }

    p + iframe, h3 + iframe {
      margin-top: var(--xs);
    }

    iframe {
      margin: var(--m) 0;
      border-radius: .5rem;
    }

    iframe + h3, iframe + h4, iframe + h5, iframe + h6 {
      margin-top: var(--m);
    }

    figure {
      margin: var(--m) 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: .5rem;
      }

      figcaption {
        @include fonts.uppercase-text(var(--xxxs), var(--text-grey));
        margin-top: .5rem;
      }
    }

    figure.full-bleed {
      width: 100vw;
      margin-left: calc(50% - 50vw);

      img {
        border-radius: 0;
      }

      figcaption {
        text-align: center;
      }
    }
  }
}

// Standard size monitors
@media screen and (max-width: 1220px) {
  .post {
    .text {
      margin: var(--m) auto;
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .post {
    .text {
      margin: 0;
      max-width: 100%;
      padding: var(--xxs);

      h3 {
        font-size: 8vw;
        margin-top: var(--m);
      }

      iframe + h3, iframe + h4, iframe + h5, iframe + h6, p + iframe, h3 + iframe, h4, h5, h6 {
        margin-top: var(--xs);
      }

      pre {
        padding: var(--xxs);
      }

      blockquote {
        margin: var(--xxs) 0;
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .post {
    .text {
      p, h3, h4, h5, h6 {
        margin-bottom: var(--xxs);
      }

      pre {
        margin: var(--xxs) 0;
      }
      
      iframe {
        height: 300px;
        margin: var(--xxs) 0;
      }
      
      figure {
        margin: var(--xxs) 0;
      }

      figure.full-bleed {
        figcaption {
          text-align: left;
          padding-left: var(--xxs);
        }
      }
    }
  }
}