<!doctype html>
<html lang="en">

<head>
  <!-- common tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Juan Martín García is a UX/UI Designer, Front-end and Mobile Developer, Teacher and Speaker from Argentina, passionate about learning new things and helping others learn new things.">
  <meta name="image" content="https://res.cloudinary.com/jmg-cursos/image/upload/w_auto,f_auto,q_auto/logo/logo.png">
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f1f1f">
  <meta name="msapplication-TileColor" content="#1f1f1f">
  <meta name="theme-color" content="#1f1f1f">
  <!-- title -->
  <title>Juan Martín García - Product Designer & Front-end Developer</title>
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Juan Martín García - Product Designer & Front-end Developer">
  <meta itemprop="description"
    content="UX/UI Designer, Front-end and Mobile Developer, Teacher and Speaker from Argentina, passionate about learning new things and helping others learn new things.">
  <meta itemprop="image"
    content="https://res.cloudinary.com/jmg-cursos/image/upload/w_auto,f_auto,q_auto/logo/logo.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Juan Martín García - Product Designer & Front-end Developer">
  <meta name="twitter:description"
    content="UX/UI Designer, Front-end and Mobile Developer, Teacher and Speaker from Argentina, passionate about learning new things and helping others learn new things.">
  <meta name="twitter:site" content="@imjuangarcia">
  <meta name="twitter:creator" content="@imjuangarcia">
  <meta name="twitter:image:src"
    content="https://res.cloudinary.com/jmg-cursos/image/upload/w_auto,f_auto,q_auto/logo/logo.png">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Juan Martín García - Product Designer & Front-end Developer">
  <meta name="og:description"
    content="UX/UI Designer, Front-end and Mobile Developer, Teacher and Speaker from Argentina, passionate about learning new things and helping others learn new things.">
  <meta name="og:image" content="https://res.cloudinary.com/jmg-cursos/image/upload/w_auto,f_auto,q_auto/logo/logo.png">
  <meta name="og:url" content="https://www.juangarcia.design">
  <meta name="og:site_name" content="Juan Martín García - Product Designer & Front-end Developer">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">
  <link href="/dist/css/website.css" rel="stylesheet" type="text/css" />
</head>

<body>
  {% include "partials/header.html" %}
  <main tabindex="-1" id="main-content">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.html" %}
  <script src="/dist/js/menu.js" async defer></script>
  <script src="/dist/js/clickToCopy.js" async defer></script>
  <script src="/dist/js/getCurrentYear.js" async defer></script>
</body>

</html>