<footer id="contact">
  <ul>
    <li>
      <span>Get In touch</span>
      <ol>
        <li class="click-to-copy-container">
          <button class="click-to-copy" title="Click/Tap to Copy">{{ site.email }}</button>
          <span class="copied-notification">Copied!</span>
        </li>
        <li class="click-to-copy-fallback-container">
          <a href="mailto:hello@juangarcia.com.ar" class="click-to-copy-fallback">
            hello@juangarcia.com.ar
          </a>
        </li>
      </ol>
    </li>
    <li>
      <span>Follow Me</span>
      <ol class="social">
        {% for link in social %}
        <li>
          <a href="{{ link.url }}">
            {{ link.name }}
          </a>
        </li>
        {% endfor %}
      </ol>
    </li>
    <li>
      {# Get the current year #}
      {% set currentYear = helpers.getCurrentYear() %}
      <span>&copy; <span>{{ currentYear }}</span> | {{ site.name }}</span>
      <ol>
        <li>
          <a href="/feed.xml">RSS Feed</a>
        </li>
        <li>
          <a href="/privacy">Privacy Policy</a>
        </li>
      </ol>
    </li>
  </ul>
  <p>
    Website built with
    <a href="https://www.11ty.dev/">
      Eleventy
    </a>
    and hosted on
    <a href="https://www.netlify.com/">
      Netlify
    </a>.
    Source code is on
    <a href="https://gitlab.com/">
      Gitlab
    </a>.
  </p>
</footer>