{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/work.css'] %}

{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 

{% block content %}
  <article class="work">
    <div class="heading">
      {% include "partials/page-header.html" %}
    </div>
    {# featured projects #}
    <ul class="featured-projects">
      {% include "partials/work/featured.html" %}
    </ul>
    {# websites #}
    {% include "partials/work/websites.html" %}
    {# grid of projects #}
    <ul class="project-grid">
      {% include "partials/work/grid.html" %}
    </ul>
    {# clients #}
    {% include "partials/homepage/clients.html" %}
  </article>
{% endblock %}