<ul class="projects" id="work">
  {% for project in collections.featuredWork %}
  {% if loop.index0 < 2 %} <li>
    <a href="{{ project.data.url }}">
      <div class="image-container">
        <img src="{{ project.data.image }}" srcset="{{ project.data.imageSrcset }}"
          sizes="(min-width: 721px) 50vw, 100vw" alt="{{ project.data.title }} | {{ project.data.type }}" loading="lazy"
          width="1280" height="840" />
      </div>
      <div class="text-container">
        <h3>{{ project.data.title }} <span>{{ project.data.type }}</span></h3>
        <p>{{ project.data.summary }}</p>
        <button>View Project</button>
      </div>
    </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>