@use '../../config/fonts';

.hero {
  padding: 10vh var(--m);
  border-bottom: var(--border);

  h2 {
    @include fonts.light-text(8.5vw, var(--black));

    span {
      font-style: italic;
      text-decoration: line-through;
    }
  }

  h3 {
    margin-top: var(--xs);
    @include fonts.light-text(4vw, var(--text-grey));
  }
  
  p {
    margin-top: var(--xs);
    @include fonts.light-text(var(--xs), var(--black));
    line-height: 2;
    max-width: 60%;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Big monitors
@media screen and (min-width: 1680px) {
  .hero {
    h2 {
      font-size: 7vw;
    }
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    h2 {
      max-width: 90%;
      font-size: 5vw;
    }
  }
}

// Standard size monitors
@media screen and (max-width: 1220px) {
  .hero {
    padding: var(--xs);
  }
}

// iPad portrait
@media screen and (max-width: 860px) {
  .hero {
    p {
      max-width: 100%;
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .hero {
    h3 {
      font-size: 8vw;
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .hero {
    padding: var(--xxs);

    h2 {
      font-size: 12vw;
    }

    h3, p {
      margin-top: var(--xxs);
    }
  }
}