@use '../../config/fonts';

.links {
  display: flex;
  padding: var(--xl) var(--m);

  li {
    flex: 1;
    text-align: center;

    a {
      @include fonts.light-text(4vw, var(--black));

      &::-moz-selection {
        background-clip: initial;
        -webkit-text-fill-color: var(--black);
      }

      &::selection {
        background-clip: initial;
        -webkit-text-fill-color: var(--black);
      }
    }
    
    &:nth-child(1) {
      a {
        &:hover {
          background: linear-gradient(to right, #0575e6, #021b79);
          background-size: 600%;
          background-position: 0 0;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          /* Animation */
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-name: gradient;
        }
      }
    }
    
    &:nth-child(2) {
      a {
        &:hover {
          background: linear-gradient(to right, #00c6ff, #0072ff);
          background-size: 600%;
          background-position: 0 0;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          /* Animation */
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-name: gradient;
        }
      }
    }
    
    &:nth-child(3) {
      a {
        &:hover {
          background: linear-gradient(to right, #ee0979, #ff6a00);
          background-size: 600%;
          background-position: 0 0;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          /* Animation */
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-name: gradient;
        }
      }
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .links {
    flex-direction: column;
    padding: 0;
    
    li {
      padding: var(--m) var(--xs);
      border-top: var(--border);
      text-align: left;

      &:first-child {
        border-top: none;
      }

      a {
        font-size: 8.5vw;
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .links {
    li {
      padding: var(--xxs);
    }
  }
}