@use '../../config/fonts';

.projects {
  li {
    display: flex;
    border-bottom: var(--border);

    & > * {
      flex: 1;
    }

    .image-container {
      border-right: var(--border);

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-container {
      padding: var(--xs);
      position: relative;

      h3 {
        @include fonts.medium-text(var(--xs), var(--black));
        line-height: 2;
        margin-bottom: var(--m);
      }
      
      p {
        @include fonts.light-text(var(--xs), var(--black));
        line-height: 2;
      }

      a {
        position: absolute;
        bottom: var(--xs);
        @include fonts.uppercase-text(var(--xxs), var(--black));
        left: auto;

        &:hover {
          transform: translateX(4px);
        }
      }
    }
  }
}

// Regular desktop computers
@media screen and (max-width: 1220px) {
  .projects {
    li {
      .text-container {
        a {
          position: relative;
          bottom: auto;
          margin-top: var(--m);
          display: block;
        }
      }
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .projects {
    li {
      flex-direction: column;

      .image-container {
        border-right: 0;
        border-bottom: var(--border);
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .projects {
    li {
      .text-container {
        padding: var(--xxs);
      }
    }
  }
}