@use '../../config/fonts';

.work-teach-speak {
  border-top: var(--border);
  border-bottom: var(--border);

  .list {
    display: flex;

    li {
      flex: 1;
      padding: var(--m);
      border-right: var(--border);

      h4 {
        @include fonts.uppercase-text(var(--xxs), var(--black));
        margin-bottom: var(--m);
      }

      &:last-child {
        border-right: none;
      }

      ol {
        li {
          padding: 0;
          border-right: none;
          display: flex;
          align-items: baseline;
          @include fonts.light-text(var(--xs), var(--black));
          line-height: 1.6;

          a {
            color: var(--black);

            &::after {
              margin-left: .25rem;
            }
          }

          span {
            @include fonts.uppercase-text(var(--xxxs), var(--text-grey));
            margin-left: var(--xxxs);
          }
        }
      }
    }
  }
}

// Regular desktop computers
@media screen and (max-width: 1220px) {
  .work-teach-speak {
    .list {
      li {
        padding: var(--xs);

        ol {
          margin-bottom: var(--xxxs);

          li {
            flex-wrap: wrap;

            h5, a {
              flex: 100%;
              order: 1;
            }

            span {
              margin-left: 0;
            }
          }
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// iPad portrait
@media screen and (max-width: 860px) {
  .work-teach-speak {
    .list {
      flex-wrap: wrap;

      li {
        flex: 40%;

        &:nth-child(2) {
          border-right: none;
        }

        &:last-child {
          border-top: var(--border);
        }

        ol {
          li {
            &:last-child {
              border-top: none;
            }
          }
        }
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .work-teach-speak {
    border-top: none;
    
    .list {
      li {
        flex: 100%;
        border-top: var(--border);
        padding: var(--xxs);
        border-right: none;
      }
    }
  }
}