@use '../../config/fonts';

.writing {
  ul {
    display: flex;
    
    li:first-child {
      border-right: var(--border);
    }

    li {
      flex: 1;
      padding: var(--l) var(--m);

      h5 {
        @include fonts.light-text(4vw, var(--black));
        line-height: 0.8;
      }

      ol {
        li {
          padding: 0;
          padding-bottom: var(--s);

          &:first-child {
            border-right: none;
          }

          &:last-child {
            padding-bottom: 0;
          }

          time, span {
            @include fonts.uppercase-text(var(--xxxs), var(--text-grey));
            line-height: 125%;
            
            a {
              @include fonts.uppercase-text(var(--xxxs), var(--black));

              &::after {
                margin-left: .25rem;
              }
            }
          }

          a {
            @include fonts.light-text(var(--xs), var(--black));
            line-height: 125%;
            display: inline-block;
            transition: all .2s ease-in-out;
            position: relative;
            left: 0;

            &:hover {
              left: .25rem;
            }
          }

          p, .tags-list {
            display: none;
          }
        }
      }
    }
  }
}

// Regular desktop computers
@media screen and (max-width: 1220px) {
  .writing {
    ul {
      li {
        padding: var(--xs);
      }
    }
  }
}

// iPad portrait
@media screen and (max-width: 860px) {
  .writing {
    ul {
      flex-direction: column;

      li {
        &:first-child {
          border-right: none;
        }
      }
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .writing {
    ul {
      li {
        h5 {
          font-size: 8vw;
        }
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .writing {
    ul {
      li {
        padding: var(--xxs);
        
        h5 {
          font-size: 12vw;
        }
      }
    }
  }
}