{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/post.css'] %}

{% set pageHeaderTitle = title %}

{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
{# get the post date #}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}.</time>
<span>
  Takes {{ content | readingTime }} to read.
</span>
<h2>{{ pageHeaderTitle }}</h2>
{# check if there are tags on this post #}
{% if tags %}
<ul class="tags-list" aria-describedby="tags-desc">
  {% for tag in tags %}
  <li>
    <a href="/tag/{{ tag | slug }}/">#{{ tag | replace(' ', '') | capitalize }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endset %}

{% block content %}
<article class="post">
  <section class="heading">
    {% include "layouts/heading.html" %}
  </section>
  <section class="text">
    {# check if the article was posted somewhere else originally #}
    {% if publishedOn %}
      <blockquote>
        <p>
          📝
          This article was originally published on {{ publishedOn}}.
        </p>
        <p>
          If you prefer, you can read the original version <a href="{{ url }}">here</a>.
        </p>
      </blockquote>
    {% endif %}
    {{ content | safe }}
  </section>
  <section class="recommended-posts">
    <ul>
      <li>
        {% set postListHeadline = 'More from the blog' %}
        <h5>{{ postListHeadline }}</h5>
      </li>
      <li>
        <ol>
          {% set postListItems = recommendedPosts %}
          {% include "layouts/blog/post-list.html" %}
        </ol>
      </li>
    </ul>
  </section>
</article>
{% endblock %}