@use '../../globals/fonts';
@use '../../globals/animations';
@use '../../components/tags';

.project-grid {
  display: flex;
  border-bottom: var(--border);

  & > * {
    flex: 1;
  }

  li {
    border-right: var(--border);
    display: grid;

    a {
      display: grid;
      grid-template-rows: 1fr;

      &::after {
        content: '';
      }

      &:hover {
        button {
          @include animations.text-gradient(linear-gradient(to right, #12c2e9, #c471ed, #f64f59));
        }
      }
    }

    &:last-child {
      border-right: none;
    }

    .image-container {
      align-self: flex-start;
      border-bottom: var(--border);

      img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-container {
      padding: var(--s) var(--m);

      h5 {
        @include fonts.medium-text(var(--xs), var(--black));
        line-height: 1.4;
        margin-bottom: var(--xs);

        span {
          display: block;
          color: var(--text-grey);
        }
      }

      p {
        @include fonts.light-text(var(--xs), var(--black));
        line-height: 2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }

      ul {
        display: flex;
        margin: var(--s) 0;

        li {
          margin-right: var(--xs);
          @include tags.tag(var(--background-grey), var(--black));
          border-right: none;
        }
      }

      button {
        padding: 0;
        background: transparent;
        border: none;
        @include fonts.uppercase-text(var(--xxs), var(--black));
      }
    }
  }
}

// Regular desktop screens
@media screen and (max-width: 1220px) {
  .project-grid {
    li {
      .image-container {
        height: 240px;
      }

      .text-container {
        padding: var(--xs);
      }
    }
  }
}

// iPad portrait
@media screen and (max-width: 860px) {
  .project-grid {
    flex-wrap: wrap;

    & > * {
      flex: 50%;
      box-sizing: border-box;
    }

    li:last-child {
      .image-container {
        height: auto;
      }
    }
  }
}

// Mobile landscape
@media screen and (max-width: 720px) {
  .project-grid {
    & > * {
      flex: 100%;
    }

    li {
      .image-container {
        height: auto;
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .project-grid {
    li {
      .text-container {
        padding: var(--xxs);
      }
    }
  }
}