.punctuation, .tag, .property {
  color: var(--blue);
}

.attr-name, .url {
  color: var(--green);
}

.attr-value, .selector, .language-css {
  color: var(--yellow);
}

.comment {
  color: var(--background-grey);
}

.number, .function {
  color: var(--red);
}

mark.highlight-line {
  background-color: rgba(114,202,151,.2);
  display: block;
  color: var(--green);

  &::before {
    content: '+';
    padding: 0 .5rem;
  }
}