@use '../../config/fonts';
@use '../../components/tags';

.post {
  & > .heading {
    padding: var(--xxl) var(--m);
    border-bottom: var(--border);

    time, span {
      @include fonts.uppercase-text(var(--xxxs), var(--text-grey));

      a {
        color: var(--black);

        &::after {
          transform: scale(.9);
          display: inline-block;
          margin-left: .1rem;
        }
      }
    }

    h2, h3 {
      @include fonts.light-text(4vw, var(--black));
      margin-top: var(--xxs);
      max-width: 80%;
    }

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: var(--m);

      li {
        margin-right: var(--xxs);
        margin-bottom: var(--xxs);

        a {
          @include tags.tag(var(--background-grey), var(--black));
          display: inline-block;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// Standard size monitors
@media screen and (max-width: 1220px) {
  .post {
    & > .heading {
      padding: var(--xs);

      .tags-list {
        margin-top: var(--xs);
      }
    }
  }
}

// iPad portrait
@media screen and (max-width: 860px) {
  .post {
    & > .heading {
      h2, h3 {
        font-size: 8vw;
        max-width: 100%;
      }
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  .post {
    & > .heading {
      h2, h3 {
        font-size: 12vw;
      }

      span {
        display: block;
      }
    }
  }
}