<section class="hero" id="about">
  <h2>
    Juan Mart&iacute;n Garc&iacute;a is a <span>unicorn</span> UX/UI Designer, Front-end and Mobile Developer, Teacher and Speaker from Argentina, passionate about learning new things and helping others learn new things.
  </h2>
</section>