<ul class="links">
  <li>
    <a href="https://www.behance.net/imjuangarcia" target="_blank" rel="noopener noreferrer">
      Behance
    </a>
  </li>
  <li>
    <a href="https://www.toptal.com/designers/resume/juan-martin-garcia" target="_blank" rel="noopener noreferrer">
      Toptal
    </a>
  </li>
  <li>
    <a href="https://dribbble.com/imjuangarcia" target="_blank" rel="noopener noreferrer">
      Dribbble
    </a>
  </li>
</ul>