<section class="writing" id="writing">
  <ul>
    <li>
      <h5>Writing</h5>
    </li>
    <li>
      <ol>
        {% for post in blog %}
        <li>
          <p>{{ post.timestamp }} - Published on {{ post.publisher }}</p>
          <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">
            {{ post.title }}
          </a>
        </li>
        {% endfor %}
      </ol>
    </li>
  </ul>
</section>