<section class="writing" id="writing">
  <ul>
    <li>
      <h5>Writing</h5>
    </li>
    <li>
      <ol>
        {% for post in blog %}
        <li>
          <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">
            <p>{{ post.timestamp }} - Published on {{ post.publisher }}</p>
            <h6>{{ post.title }}</h6>
          </a>
        </li>
        {% endfor %}
      </ol>
    </li>
  </ul>
</section>