::-moz-selection {
  color: var(--black);
  background: var(--background-grey);
}

::selection {
  color: var(--black);
  background: var(--background-grey);
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

[id] {
  scroll-margin-top: var(--xxl);
}