@use '../config/fonts';

header {
  display: flex;
  align-items: stretch;
  border-bottom: var(--border);
  max-height: 88px;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1;

  svg {
    path {
      fill: var(--black);
    }
  }

  .logo {
    padding: var(--s) var(--m);
    border-right: var(--border);
    height: var(--xs);
  }

  h1 {
    flex: 2;
    text-align: center;
    @include fonts.uppercase-text(var(--xxxs), var(--black));
    align-self: center;
  }
    
  .toggle-button {
    cursor: pointer;
    border-left: var(--border);
    padding: var(--s) var(--l);
    .bar {
      width: var(--s);
      height: 2px;
      background-color: var(--black);
      margin: .25rem 0;
      transition: all .2s ease-in-out;
    }
  }

  &:hover {
    .bar:first-child {
      transform: translateX(.25rem);
    }
    
    .bar:nth-child(2) {
      transform: translateX(.5rem);
    }
    
    .bar:last-child {
      transform: translateX(.75rem);
    }
  }
  
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked {
    & ~ nav {
      opacity: 1;
      visibility: visible;

      ul {
        li {
          transform: translateY(0px);
          opacity: 1;

          @for $i from 1 through 6 {
            $t: $i * 0.1;
            &:nth-child(#{$i}) {
              transition: all 0.3s cubic-bezier(.6,0,.8,1.5) #{$t}s; 
            }
          }
        }
      }
    }

    & ~ label {
      .bar {
        &:first-child {
          transform: translateY(6px) rotate(45deg);
        }
        
        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
  }


  nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 90px);
    background-color: var(--black);
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 10vh var(--m);
    box-sizing: border-box;

    ul {
      li {
        transform: translateY(-.5rem);
        opacity: 0;

        a {
          @include fonts.light-text(8.5vw, var(--white));
          transition: all .2s ease-in-out;
          position: relative;
          left: 0;

          &:hover {
            left: .5rem;
          }
        }
      }
    }
  }
}

// Big monitors
@media screen and (min-width: 1680px) {
  header {
    nav {
      ul {
        li {
          a {
            font-size: 7vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  header {
    nav {
      ul {
        li {
          a {
            font-size: 5vw;
          }
        }
      }
    }
  }
}

// Standard size monitors
@media screen and (max-width: 1220px) {
  header {
    nav, .logo, .toggle-button {
      padding: var(--xs);
    }

    nav {
      height: calc(100vh - 74px);
    }
  }
}

// Mobile portrait
@media screen and (max-width: 570px) {
  header {
    nav, .logo, .toggle-button {
      padding: var(--xxs);
    }

    .logo {
      flex: 1;
      border-right: none;
    }

    h1 {
      display: none;
    }

    nav {
      height: calc(100vh - 58px);

      ul {
        li {
          a {
            font-size: 12vw;
          }
        }
      }
    }
  }
}