body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Founders Grotesk Light";
  src: url("/fonts/founders-grotesk-web-light.eot") format("eot"),
       url("/fonts/founders-grotesk-web-light.woff") format("woff"),
       url("/fonts/founders-grotesk-web-light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Medium";
  src: url("/fonts/founders-grotesk-web-medium.eot") format("eot"),
       url("/fonts/founders-grotesk-web-medium.woff") format("woff"),
       url("/fonts/founders-grotesk-web-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Mono Regular";
  src: url("/fonts/founders-grotesk-mono-web-regular.eot") format("eot"),
       url("/fonts/founders-grotesk-mono-web-regular.woff") format("woff"),
       url("/fonts/founders-grotesk-mono-web-regular.woff2") format("woff2");
  font-display: swap;
}

@mixin uppercase-text($font-size, $color) {
  font-size: $font-size;
  color: $color;
  text-transform: uppercase;
  font-family: 'Founders Grotesk Medium', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-style: normal;
}

@mixin light-text($font-size, $color) {
  font-size: $font-size;
  color: $color;
  font-family: 'Founders Grotesk Light', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}

@mixin medium-text($font-size, $color) {
  font-size: $font-size;
  color: $color;
  font-family: 'Founders Grotesk Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

@mixin monospaced-text($font-size, $color) {
  font-size: $font-size;
  color: $color;
  font-family: 'Founders Grotesk Mono Regular', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}