{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
  <section class="pagination">
    <nav aria-label="Pagination links">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
          <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
        </a>
      {% endif %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
          <h4>{{ paginationNextText if paginationNextText else 'Next' }}</h4>
        </a>
      {% endif %}
    </nav>
  </section>
{% endif %}