@use '../../config/fonts';

.clients {
  background-color: var(--black);
  padding: var(--xxl) var(--m);

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      @include fonts.light-text(8vw, var(--white));
      line-height: 1;

      span {
        display: inline-block;
        width: var(--m);
        color: var(--grey);
      }

      &:last-child {
        span {
          display: none;
        }
      }
    }
  }
}