@use '../../config/fonts';

.clients {
  background-color: var(--black);
  padding: 10vh var(--m);

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      @include fonts.light-text(8vw, var(--white));
      line-height: 1;

      span {
        display: inline-block;
        margin-right: var(--xs);
        color: var(--grey);
      }

      &:last-child {
        span {
          display: none;
        }
      }
    }
  }
}

// Big monitors
@media screen and (min-width: 1680px) {
  .clients {
    ul {
      li {
        font-size: 7vw;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .clients {
    ul {
      li {
        font-size: 5vw;
      }
    }
  }
}

// Regular desktop computers
@media screen and (max-width: 1220px) {
  .clients {
    padding: var(--xs);
  }
}