@use '../../config/fonts';

.hero {
  padding: 10vh var(--m);
  border-bottom: var(--border);

  h2 {
    @include fonts.light-text(8.5vw, var(--black));

    span {
      font-style: italic;
      text-decoration: line-through;
    }
  }
}

// Big monitors
@media screen and (min-width: 1680px) {
  .hero {
    h2 {
      font-size: 7vw;
    }
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    h2 {
      max-width: 90%;
      font-size: 5vw;
    }
  }
}