@use '../../config/fonts';

.links {
  display: flex;
  padding: var(--xl) var(--m);

  li {
    flex: 1;
    text-align: center;

    a {
      @include fonts.light-text(4vw, var(--black));

      svg {
        position: relative;
        transition: all .1s ease-out;
        bottom: 20%;
      }

      &:hover {
        svg {
          transform: translateY(-4px);
        }
      }
    }
  }
}