<footer id="contact">
  <ul>
    <li>
      <span>Get In touch</span>
      <ol>
        <li>
          <button class="click-to-copy" title="Click/Tap to Copy">{{ site.email }}</button>
        </li>
      </ol>
    </li>
    <li>
      <span>Follow Me</span>
      <ol class="social">
        {% for link in social %}
        <li>
          <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
            {{ link.name }}
          </a>
        </li>
        {% endfor %}
      </ol>
    </li>
    <li>
      {# Get the current year #}
      {% set currentYear = helpers.getCurrentYear() %}
      <span>&copy; <span>{{ currentYear }}</span> | {{ site.name }}</span>
      <ol>
        <li>
          <a href="/">Privacy Policy</a>
        </li>
        <li>
          <a href="/">Credits</a>
        </li>
      </ol>
    </li>
  </ul>
  <p>
    Website built with
    <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">
      Eleventy
    </a>
    and hosted on
    <a href="https://www.netlify.com/" target="_blank" rel="noopener noreferrer">
      Netlify
    </a>.
    Source code is on
    <a href="https://gitlab.com/personal-branding/website-11ty" target="_blank" rel="noopener noreferrer">
      Gitlab
    </a>.
  </p>
</footer>