<a href="#main-content" class="skip" aria-label="Skip links and go to the text content">
  Skip to content
</a>
<header role="banner">
  <a href="/" class="logo" aria-label="{{ site.name }} - Home">
    {% include "partials/brand.svg" %}
  </a>
  <h1>{{ site.role }}</h1>
  <input type='checkbox' id='toggle' />
  <label class='toggle-button toggle-cross' for='toggle' tabindex="0" role="button"
    aria-label="Open the menu navigation">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </label>
  <nav aria-label="Primary navigaton">
    <ul>
      {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>